.bg-dark{
    background-color: rgb(56,56,56);
}

.text-white{
    color: white;
}

.text-center{
    display: flex;
    justify-content: center;
}

.text-bold{
    font-weight: bold;
}
.custom-image{
    padding: 10px;
    border-radius: 20px;
    width: calc(100% - 20px);
}

.custom-button {
    display: flex;
    justify-content: center;
}

.custom-button button, .custom-button div{
    color: white;
    border-color: white;
}

.shopping-cart{
   position: fixed;
   top: 0;
   right: 10px; 
}
